*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.food-container{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  
}

.food-container-parent{
  max-width: 1000px;
  display: flex;
  margin: 50px auto;
  gap: 20px;
}

.cart-container{
  background-color: cadetblue;
}